<body>
    <header class="white-bg ">
      <article class="cf ph3 ph5-ns pv5">
    <header class="fn fl-ns w-50-ns pr4-ns">
      <h1 class="mb3 mt0 roboto lh-title">{{article.title}}</h1>
      <time class="f6 ttu tracked gray">{{article.author}}</time>
    </header>
    <div class="fn fl-ns w-50-ns">
      <p>
        {{article.body}}
      </p>
      >
    </div>
  </article>
  
  
    </header>
    <footer>
      <div class="text-center">Made with Love - Hamza Tanji Cherkaoui</div>
    </footer>