    <div class="slogon">
      <div class="logo-block">
        <div class="tmp-logo"></div>
        <h1 class="text-center roboto">Reads</h1>
      </div>
      <div class="slogon-text">
        <p class="">Share your thought with everyone.</p>
      </div>
      <div class="text-center pst-article" *ngIf="!isAuthenticated">
        <button class="box primary-bg round-borders roboto pst-article-btn" routerLink="/login">
          <b>Post an article</b>
        </button>
      </div>
      <div class="text-center profile-header" *ngIf="isAuthenticated">
          <a href="">Hello Hamza </a>      
          <button class="box default-bg round-borders roboto pst-article-btn" (click) = "logout()" >
              Logout
            </button>
    </div>