<div class="box content-bg medium-pd">
    <div class="content-wrapper">
      <div class="main  round-borders">
  <div class=" flex items-center w-100">
          <article class="pa4 black-80 w-100">
              <h1 class="title">Login</h1>
              <form action="sign-up_submit" method="get" accept-charset="utf-8">
                <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
                  <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
                  <div class="mt3">
                    <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
                    <input class="form-input w-100 measure" type="email" name="email-address"  id="email-address">
                  </div>
                  <div class="mt3">
                    <label class="db fw4 lh-copy f6" for="password">Password</label>
                    <input class="form-input  w-100 measure" type="password" name="password"  id="password">
                  </div>
                </fieldset>
                <div class="mt3"><input class="b ph3 pv2  ba  bg-transparent grow pointer f6" type="submit" value="Login"></div>
              </form>
            </article>
            <div class="w-100">
              <a class="db text-center secondary-color underline f3 fw1 Courier" href="#"> Or sign Up </a>
            </div>
          </div>
      </div>
    </div>
  </div>