<div class="box content-bg medium-pd">
  <div class="content-wrapper">
    <div class="main  round-borders">
      <div class=" flex items-center w-100">
        <article class="pa4 black-80 w-100">
          <h1 class="title">Login</h1>
          <div>
            <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
              <legend class="ph0 mh0 fw6 clip">Sign Up</legend>
              <div class="mt3">
                <label class="db fw4 lh-copy f6" for="email-address">Email address</label>
                <input class="form-input w-100 measure" type="email" name="email-address" [(ngModel)]="user.email" id="email-address" placeholder="type your email here ">
              </div>
              <div class="mt3">
                <label class="db fw4 lh-copy f6" for="password">Password</label>
                <input class="form-input  w-100 measure" type="password" name="password" [(ngModel)]="user.password" id="password" placeholder="type your password here ">
              </div>
            </fieldset>
            <div class="mt3">
              <button class="b ph3 pv2 black-bg white-color grow pointer f6 roboto" (click)="login()">Login </button>
            </div>
          </div>
        </article>
        <div class="w-100 flex items-center">
          <div class="w-100 text-center db ">
            <a class=" text-center  box primary-gradient-bg fw1  Courier w-50" href="#"> Or sign Up </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>