<div class="box content-bg ">
    
<div class="mw9 center ph3-ns">
    <div class="cf ph2-ns">
      <div class="fl w-30 w-30-ns  center  pa2 " >
        <div class=" round-borders  bg-white pv4 sidebar">
            <ul class="list pl0 ml0 center  mw5 ba b--black-10 text-center  br3">
                <li class="ph3 pv2 bb b--black-10  pointer pa2 roboto" >Profile</li>
                <li class="ph3 pv2 bb b--black-10  pointer pa2 roboto" >Settings</li>
                <li class="ph3 pv2 bb b--black-10  pointer pa2 roboto" >My articles</li>
                <li class="ph3 pv2   pointer pa2 roboto" >my Favorites</li>
              </ul>
        </div>
      </div>
      <div class="fl w-70 w-70-ns pa2">
        <div class=" round-borders bg-white pv4"></div>
      </div>
    </div>
  </div>
      
  </div>