<app-header class="primary-gradient-bg " ></app-header>
<div class="box content-bg medium-pd">
  <div class="content-wrapper">
    <div class="main  round-borders">

      <div class="articles-list">
        <section class="mw7 center">
          <h2 class="roboto ph3 ph0-l">latest Articles</h2>
          <div class = "article-loader" *ngIf="articles.length==0">
              <div class="article-placeholder">
                  <div class="animated-background article-left"></div>
                <div class=" article-right">
                  <div class="animated-background heading"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  
                  </div>
               </div>
               <div class="article-placeholder">
                  <div class="animated-background article-left"></div>
                <div class=" article-right">
                  <div class="animated-background heading"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  
                  </div>
               </div>
               <div class="article-placeholder">
                  <div class="animated-background article-left"></div>
                <div class=" article-right">
                  <div class="animated-background heading"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  <div class="animated-background line"></div>
                  
                  </div>
               </div>
              </div>
              
          <articles [articles]="articles" *ngIf="articles.length>1"></articles>
        </section>

      </div>
    </div>
  </div>
</div>
<footer>
  <div class="text-center">Made with Love - Hamza Tanji Cherkaoui</div>
</footer>